@tailwind base;
@tailwind components;
@tailwind utilities;

/* .banner-bg::before {
    content: "";
    position: absolute;
    background: url("images/hero.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    z-index: -1;
} */

@media (max-width: 768px) {
    .banner-bg::before{
        /* position: absolute; */
        /* height: inherit !important; */
    }
  }

/* .card-img-icon::after {
    content: "";
    background: url("/images/card-icon-1.png");
    height: 170px;
    width: 170px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .second-card-icon::after{
    background: url("/images/card-icon-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.third-card-icon::after{
    background: url("/images/card-icon-3.png");
    background-size: cover;
    background-repeat: no-repeat;
} */